In [1]:
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd
import nltk
import unicodedata
import re
from sklearn.model_selection import train_test_split
import wrangle_g as wr

In [2]:
# setting basic style parameters for matplotlib
plt.rc('figure', figsize=(13, 7))
plt.style.use('seaborn-notebook')

In [3]:
plt.style.available

['Solarize_Light2',
 '_classic_test_patch',
 '_mpl-gallery',
 '_mpl-gallery-nogrid',
 'bmh',
 'classic',
 'dark_background',
 'fast',
 'fivethirtyeight',
 'ggplot',
 'grayscale',
 'seaborn',
 'seaborn-bright',
 'seaborn-colorblind',
 'seaborn-dark',
 'seaborn-dark-palette',
 'seaborn-darkgrid',
 'seaborn-deep',
 'seaborn-muted',
 'seaborn-notebook',
 'seaborn-paper',
 'seaborn-pastel',
 'seaborn-poster',
 'seaborn-talk',
 'seaborn-ticks',
 'seaborn-white',
 'seaborn-whitegrid',
 'tableau-colorblind10']

In [4]:
df = pd.read_csv('lang_data_prepped.csv',index_col=False)

In [5]:
df.head()

,repo,language,readme_contents,stopped
0,ujjwalkarn/DataScienceR,R,# R Data Science Tutorials\n- This repo contai...,data science tutorials repo contain curated li...
1,IndrajeetPatil/ggstatsplot,R,---\noutput: github_document\n---\n\n <!-- RE...,output githubdocument readmemd generate readme...
2,easystats/easystats,R,"---\noutput: github_document\n---\n\n```{r, wa...",output githubdocument warningfalse messagefals...
3,seandavi/sars2pack,R,---\noutput: \n - rmarkdown::github_document\...,output rmarkdowngithubdocument rmarkdownhtmldo...
4,markvanderloo/lumberjack,R,## Track changes in data\n[![Build Status](htt...,track change data build statushttpstravisciorg...

In [6]:
df.iloc[10,3]

'statisticallearningtechniques statistical learn repository consist various learn algorithms implementation depth interpretation link implementation indepth explanation learn algorithms document contain underlie mathematical concepts explain respect simple case study topics cover 1 supervise learn 2 model selection techniques aic bic mallows cp adjust rsquared cross validation error 3 shrinkage methods regularization techniques ridge regression lasso l1 norm l2 norm 4 nonlinear regression parametric model 5 nonparametric model knearest neighbor algorithm 6 tree base model decision tree 7 bayesian model technique naive bay algorithm 8 ensemble learn random forest gradient boost bag 9 resampling methods cross validation 10 unsupervised learn first document publish polynomial regression tecnhiques add non linearities model make model learn non linear function httprpubscomanish20polynomialregression second document step step implementation cubic splines smooth splines transform variables add truncate basis function bx better polynomial regression learn non linear functional mappings xpredictors ytarget httprpubscomanish20splines third document implement generalize additive model overview httprpubscomanish20generalizedadditivemodelsinr fourth document implement decision tree use tree package httprpubscomanish20decisiontreesinr fifth article explain concept random forest implement httprpubscomanish20randomforests article support vector machine httprpubscomanish20svmr article radial kernel support vector classifier httprpubscomanish20radialsvm article implement pca maths behind httprpubscomanish20pca article explain kmeans cluster algorithm implementation httprpubscomanish20kmeans'

In [7]:
train, validate, test = wr.final_wrangle(df)

In [8]:
train.shape[0],validate.shape[0],test.shape[0]

(162, 70, 59)

In [9]:
train

,repo,language,readme_contents,stopped
117,storieswithsiva/US-Job-Market-Analysis,R,# US Job Analysis in R\n[![Makes people smile]...,us job analysis make people smilehttpsfortheba...
8,adityashrm21/Bike-Sharing-Demand-Kaggle,R,# Bike-Sharing-Demand---Kaggle\n\nSolution to ...,bikesharingdemandkaggle solution kaggle knowle...
63,Sarah-Hesham-2022/Bio-Statistics-R-Coding-On-D...,R,# Bio-Statistics-R-Coding-On-Datasets-Analysis...,biostatisticsrcodingondatasetsanalysisandplott...
268,Tech-Matt/game_of_life,Python,# Game of Life\n\n## Premise\nThis is the firs...,game life premise first readme im write projec...
105,vincenzorusso3/tesi-triennale,R,# PPMI Research\nThe main goal is to create a ...,ppmi research main goal create system order cl...
...,...,...,...,...
225,VivanVatsa/Data-Science-Salary-Estimator,Python,# Data-Science-Salary-Estimator\n>> `BEST WITH...,datasciencesalaryestimator best lightmode fork...
16,thierrygosselin/assigner,R,---\noutput: github_document\n---\n\n\n# assig...,output githubdocument assigner hrefhttpthierry...
28,stasvlasov/nstandr,R,"# nstandr <img src=""img/logo.png"" align=""right...",nstandr img srcimglogopng alignright alt width...
33,alibalapour/CovidPlot19,R,---\noutput: github_document\nalways_allow_htm...,output githubdocument alwaysallowhtml true rea...
135,AmoDinho/datacamp-python-data-science-track,Python,# Data Camp: Data Scientist with Python 🎉🤖\n\n...,data camp data scientist githubhttpsimgshields...

## df's and _words list

In [10]:
r_df = train[train.language=='R']
python_df = train[train.language=='Python']

In [29]:
r_words = ' '.join(r_df['stopped']).split()

In [30]:
len(r_words)

13052

In [31]:
python_words = ' '.join(python_df['stopped']).split()

In [32]:
len(python_words)

29005

In [33]:
all_words = ' '.join(train['stopped']).split()

In [34]:
len(all_words)

42057

In [35]:
len(all_words) - len(python_words)

13052

In [36]:
r_freq = pd.Series(r_words).value_counts()

In [38]:
r_freq.head(10)

data                260
use                 191
model               111
package             102
function            100
microelectronics     96
analysis             71
sgsthomson           71
project              63
plot                 58
dtype: int64

In [39]:
python_freq = pd.Series(python_words).value_counts()

In [40]:
python_freq.head(10)

data       498
use        348
str        170
file       168
run        168
model      166
install    164
return     146
import     121
learn      108
dtype: int64

In [42]:
all_freq = pd.Series(all_words).value_counts()

In [43]:
all_freq.head(10)

data        758
use         539
model       277
file        213
install     190
run         185
str         170
project     170
function    152
learn       150
dtype: int64

## freq's in a df

In [44]:
# concat all frequencies together into a dataframe
word_counts = pd.concat([r_freq, python_freq,all_freq], axis=1
         ).fillna(0
                 ).astype(int)
word_counts.columns = ['r','python','all']
word_counts.head()

            r  python  all
data      260     498  758
use       191     348  539
model     111     166  277
package   102      35  137
function  100      52  152

In [46]:
word_counts[(word_counts['r'] == 0)&(word_counts['python'] >= 100)]

     r  python  all
str  0     170  170

In [52]:
word_counts[(word_counts['r'] == 0)&(word_counts['python'] >= 10)].head(60)

                 r  python  all
str              0     170  170
yyyymmdd         0      59   59
modin            0      52   52
div              0      51   51
pandas           0      51   51
int              0      48   48
ludwig           0      48   48
key              0      46   46
sql              0      44   44
optional         0      44   44
json             0      42   42
benzinga         0      40   40
kubernetes       0      35   35
streamlit        0      33   33
companytickers   0      32   32
mlflow           0      30   30
taipy            0      28   28
requirementstxt  0      27   27
cache            0      26   26
pathdict         0      26   26
element          0      26   26
cik              0      26   26
pyfunctional     0      25   25
full             0      25   25
news             0      24   24
stream           0      24   24
mimesis          0      24   24
yase             0      24   24
docker           0      23   23
metadata         0      23   23
dateasof         0      23   23
pipeline         0      21   21
cometml          0      20   20
configuration    0      20   20
boostaroota      0      20   20
opensource       0      20   20
datefrom         0      20   20
compress         0      20   20
python3          0      19   19
dateto           0      19   19
pypi             0      19   19
serpytor         0      19   19
notebooks        0      19   19
panel            0      18   18
ticker           0      18   18
stamp            0      18   18
shell            0      18   18
numpy            0      17   17
dict             0      17   17
conda            0      17   17
collie           0      17   17
spark            0      17   17
configure        0      16   16
databricks       0      16   16
func             0      16   16
keep             0      16   16
security         0      16   16
isin             0      15   15
financial        0      15   15
dividend         0      15   15

In [46]:
word_counts[(word_counts['r'] == 0)&(word_counts['python'] >= 100)]

     r  python  all
str  0     170  170

In [51]:
word_counts[(word_counts['r'] == 0)&(word_counts['python'] >= 10)].tail(60)

                 r  python  all
hr               0      14   14
config           0      14   14
liquer           0      14   14
ravdess          0      14   14
realtime         0      14   14
earn             0      14   14
internal         0      14   14
pre              0      14   14
dataengineering  0      14   14
u                0      13   13
cell             0      13   13
gpu              0      13   13
stork            0      13   13
jupyter          0      13   13
architecture     0      13   13
pagesize         0      13   13
speech           0      13   13
enable           0      12   12
backend          0      12   12
cloud            0      12   12
emotional        0      12   12
transformations  0      12   12
demo             0      12   12
force            0      12   12
url              0      12   12
virtual          0      11   11
width2           0      11   11
virtualenv       0      11   11
cap              0      11   11
hello            0      11   11
mainpy           0      11   11
location         0      11   11
scientists       0      11   11
objectiv         0      11   11
house            0      11   11
loss             0      11   11
option           0      11   11
natural          0      11   11
cometformlflow   0      11   11
terminal         0      11   11
partition        0      11   11
seq              0      11   11
sch              0      11   11
fork             0      11   11
xgboost          0      11   11
square           0      11   11
implicit         0      11   11
bad              0      10   10
unidist          0      10   10
tess             0      10   10
joe              0      10   10
hourly           0      10   10
machinelearning  0      10   10
nyiso            0      10   10
schema           0      10   10
ray              0      10   10
keepthis         0      10   10
providers        0      10   10
ratios           0      10   10
sklearn          0      10   10